.layoutBox {
  min-height: 100vh;
}

.breadcrumbBox {
  line-height: 64px;
  padding-left: 16px;
}

.contentBox {
  height: 100%;
  background: #fff;
  margin: 16px 16px 0
}

.footerBox {
  text-align: center;
  line-height: 48px;
  padding: 0;
}